.video-detail .details{
    margin-top: 10px;
    padding: 10px;
    border : 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item{
    cursor:pointer;
}

.list-group-item img{
    max-width: 64px;
}

.list-group-item:hover{
    background-color: #eee;
}
.writer{
    display: flex;
    flex-direction: row;
}

.writer > .MuiAvatar-root{
    margin-top: 8px;

}

.subscribeButton{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
}
.subscriber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    flex-basis: 1e-9px;
    margin-left: 10px;
}

.subscriber .subscriberCount{
    color: #a2a2a2;
    margin: 0;
    padding: 0;
}

.subscriber > .channelName{
    margin: 0;
    padding: 0;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;

}

.btnWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}